%div[participation.user]
  = render participation.user
  = t('activerecord.attributes.participation.rebuys') + ':' + participation.rebuys.to_s
  = t('activerecord.attributes.participation.addon') + ':' + (participation.addon? ? '1' : '0')
  = t('activerecord.attributes.participation.win') + ':' + participation.win.to_s

