@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

header {
  margin: 0 0 2em 0;

  #logo {
    font-size: 2em;
    display: inline;
    margin: 1em;
  }

  #authentication {
    float:right;
    margin: 1em;
  }

  #flashes {
    div { padding: 0.5em 2em; margin: 1em 0; }
    .alert { background-color: $alert-color; }
    .notice { background-color: $notice-color; }
  }

  #page_header {

    margin: 1em 0 0 3em;

    h1 { font-size: 1.5em; }

    nav#submenu {
      li {
        display: inline;
        margin: 0 1em 0 0;
      }
    }

  }

}

nav#sidebar {
  background-color: #eee;
  float: right;
  padding: 0 15px;
  width: $sidebar-width - 30px;

  h2 {
    margin: 0 0 0.5em;
  }

  ul:last-child {
    margin: 0 0 1em;
  }
}

#main {
  float: left;
  margin-left: -$sidebar-width;
  width: 100%;

  .error { background-color: $alert-color; }

  #content {
    margin: 0 0 0 270px;
    background-color: #efe;
    padding: 0 3em;

    h2 { margin: 1em 0 0; }

    .post { margin: 0 0 3em 0; } 
    .comment { margin-top: 2em; }
    .new { background-color: $new-comment-background-color; }

    @for $i from 0 through 9 {
      .indent_#{$i} { margin-left: 1em * $i; }
    }

    form.simple_form {
      margin: 2em 0;

      p.input { margin: 1em 0; }
      label { width: 12em; display: inline-block; }
      input.boolean { margin: 0 0.5em 0 12em; }
      input[type=submit] { margin: 0 0 0 12em; }

      div#error_explanation { background-color: $alert-color; }
    }

    article {
      margin: 0 0 2em 0;
    }

    #game.active {
      #players {
        margin: 0 0 1em 0;
      }
    }

    .game {
      form {
        table {
          margin: 2em 0 0em 12em;
          td, th {
            text-align: center;
            padding: 0 1em 1em 0;
            input.boolean {
              margin: 0;
            }
          }
        }

        #dummy {
          margin: 0 0 2em 12em;
          label { width: auto; }
          * { margin: 0; }
        }
      }
    }
  }
}

footer {
  clear: both;
}
