- if @invitation.message.blank?
  = t('.body',                                |
    :inviter => @invitation.inviter.username, |
    :group => @invitation.group.name,         |
    :registration_link => @link)              |
- else
  = t('.body_with_message',                   |
    :inviter => @invitation.inviter.username, |
    :group => @invitation.group.name,         |
    :message => @invitation.message,          |
    :registration_link => @link)              |
