- if @group
  - content_for :title_prefix, link_to(@group.name, @group)
  - if @group.user_can_announce_game?(current_user)
    - content_for :sidebar do
      %ul
        %li= link_to t('.new_game'), new_group_game_path(@group)
#games
  = render @games
