%p Привет, #{resource.username}!
%p Кто-то попросил изменить ваш пароль, вы можете сделать это по ссылке:
%p= link_to 'Изменить пароль', edit_password_url(resource, :reset_password_token => resource.reset_password_token)
%p А можете и не делать.
