= t 'mail.registration_confirmation.title', :username => @resource.username
= t 'mail.registration_confirmation.body'
= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
