<div id="authentication">
  <% if user_signed_in?  %>
    <%= link_to t('authentication.logout'), destroy_user_session_path %>
  <% else %>
    <%= link_to t('authentication.login'), new_user_session_path %>
    <%= link_to t('authentication.registration'), new_user_registration_path %>
  <% end %>
</div>
